<% layout("layouts/boilerplate") %>
<script>
  let mapToken = "<%= process.env.MAP_TOKEN %>";
  let  listing = <%- JSON.stringify(listing) %> 
</script>
<div class="container mt-3">
  <div class="text-center mb-3">
    <h3><%= listing.title %></h3>
  </div>

  <div class="card mx-auto mb-3 border-0" style="max-width: 600px;">
    <img src="<%= listing.image.url %>" class="card-img-top img-fluid mx-auto d-block listing-img" alt="listing-image">
    <div class="card-body">
      <p class="card-text"><b>Owned By</b>: <i><%= listing.owner.username %></i></p>
      <p class="card-text"><b>Description</b>: <%= listing.description %></p>
      <p class="card-text"><b>Category</b>: <%= listing.category %></p>
      <p class="card-text"><b>Price</b>: &#8377;<%= listing.price.toLocaleString("en-IN") %></p>
      <p class="card-text"><b>Location</b>: <%= listing.location %></p>
      <p class="card-text"><b>Country</b>: <%= listing.country %></p>
    </div>
  </div>

  <% if(currUser && listing.owner._id.equals(currUser._id)) {%>
    <div class="d-flex justify-content-center mb-3 flex-wrap gap-2">
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn">Edit</a>
      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>
  <% } %>

  <div class="mx-auto mb-3" style="max-width: 700px;">
    <% if(currUser){ %>
      <hr>
      <div>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
          <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <fieldset class="starability-heart" style="transform: scale(0.8); transform-origin: left;">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Comment is required.</div>
          </div>
          <button class="btn btn-outline-dark">Submit</button>
        </form>
        <hr>
    <% } %>

    <% if(listing.reviews.length > 0) { %>
      <div class="row row-cols-1 row-cols-md-2 g-3">
        <p><b>All Reviews</b></p>
        <% for(let review of listing.reviews){  %>
          <div class="col">
            <div class="card h-100 p-3">
              <div class="card-body">
                <h5 class="card-title">@<%= review.author.username %></h5>
                <p class="starability-result card-text" data-rating="<%= review.rating %>" style="transform: scale(0.8);"></p>
                <p class="card-text"><%= review.comment %></p>
              </div>         
              <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button class="btn btn-dark">Delete</button>
              </form>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>

  <div class="text-center mt-4">
    <h3>Where you'll be</h3>
    <div id="map" class="responsive-map mx-auto" ></div>
  </div>
</div>

<script src="/js/map.js"></script>

